<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Not Found</title>
</head>
<body>
    <div class="error">
        <div class="cielo">
            <h2><span>4</span><span>0</span><span>4</span></h2>
            <div class="cesped"></div>
            <img src="assets/img/avion.png" class="avion">
        </div>
        <div class="campo">
            <h2>Vaya... Parece que te has perdido.</h2>
            <a href="#">Volver a Inicio</a>
        </div>
    </div>
    
</body>
</html>
